.project-page {
  .logo-django {
    max-width: 70%;
  }

  .video-responsive {
    width: 100%;
    margin-left: 22%;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  .video-responsive iframe {
    min-height: 600px;
    min-width: 80%;
  }
}
